body {
    background-image: url('gifs/ezgif.com-crop.gif'); /* Replace 'path/to/your/image.jpg' with the path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-attachment: fixed; /* Ensure the background image remains fixed as the content scrolls */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center center; /* Center the background image */
}

header {
    background-color: #00000000; /* Default fill color */
    padding: 5px;
    border-radius: 20px 20px 20px 20px; /* Rounded corners */
    text-align:left; /* Center align text */
    margin-top: 35px;
}

/* Title styles */
header h1 {
    font-family: Arial, sans-serif; /* Specify font */
    color: #fff; /* Text color */
    font-size: 62px; /* Font size */
    letter-spacing: 9px;
    padding-top: 10px;
    padding-left: 100px; 
    
}

/* Logo container styles */
.logo-container {
    position: absolute; /* Set position to absolute */
    top: 80px; /* Adjust the distance from the top */
    right: 190px; /* Adjust the distance from the left */
    width: 80px; /* Width of the container */
    height: 80px; /* Height of the container */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    background-color: #006aff00;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

/* Logo image styles */
.logo-container img {
    width: 60%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}

.text-container {
    position: absolute; /* Set position to absolute */
    top: 140px; /* Adjust the distance from the top */
    right: 180px; /* Adjust the distance from the left */
    font-size: 18px; /* Adjust the text size */
    color: #ffffff; /* Text color */
    font-family: Arial, sans-serif;
}



.navigation-container {
    background-color: #31303182; /* Background color */
    border-radius: 8px 8px 8px 8px; /* Rounded corners */
    width: 270px; /* Width of the rectangle */
    padding: 10px; /* Padding inside the rectangle */
    margin-top: 100px; /* Add spacing between header and navigation */
    margin-left: 580px; /* Adjust the distance from the left */
    margin-bottom: 90px;
}

/* Navigation Title styles */
.navigation-container h2 {
    font-family: Arial, sans-serif; /* Specify font */
    font-size: 30px; /* Font size */
    color: #ffffff; /* Text color */
    text-align: center; /* Center align text */
}

/* Navigation styles */
.navigation-container nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    text-align: center;
}

.navigation-container nav ul li {
    margin-bottom: 10px; /* Spacing between navigation items */
}

.navigation-container nav > ul > li > a {
    text-decoration: none; /* Remove underline */
    color: #ffffff; /* Text color */
    font-size: 30px; /* Font size of navigation links */
    font-family: Arial, sans-serif; /* Specify font */
    display: block; /* Display the links as blocks */
    padding: 10px 20px;
}

.navigation-container nav > ul > li > a:hover {
    color: #12b2f7af; /* Change text color on hover */
}


.sub-menu {
  text-align: center; /* Center align the sub-menu */
}

.sub-menu li {
    display: block; /* Display the sub-menu items horizontally */

}

.sub-menu a {
    font-size: 20px; /* Font size for sub-menu items */
    font-family: Arial, sans-serif; /* Specify font */
    color: #ffffff; /* Text color */
    text-decoration: none; /* Remove underline */
    padding-bottom: 40px; /* Add spacing between sub-menu items */
}

.sub-menu a:hover {
    color: #12b2f7af; /* Change text color on hover */
}


.picture-container {
    margin-bottom: -10px;
    margin-top: 35px;
    margin-left: 525px;

}  

.picture-container img {
    width: 400px; /* Set width of the picture */
    height: auto; /* Maintain aspect ratio */
}




.bottom-image-container {
    position: fixed; /* Position the container relative to the viewport */
    bottom: 0; /* Align the container to the bottom */
    right: 0; /* Align the container to the right */
    margin: 20px; /* Adjust the margin as needed */
    z-index: 999; /* Ensure the container appears above other content */
}

.bottom-image-container img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.left-top-image-container {
    position: fixed; /* Position the container relative to the viewport */
    top: 0; /* Align the container to the top */
    left: 0; /* Align the container to the left */
    z-index: 999; /* Ensure the container appears above other content */
}

.left-top-image-container img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

@media only screen and (max-width: 768px) {

}

/* Media queries for mobile devices */
@media only screen and (max-width: 400px) {

}