body {
    background-color: #000; /* Black background color */
}

header {
    background-color: #000; /* Default fill color */
    padding: 5px;
    border-radius: 20px 20px 20px 20px; /* Rounded corners */
    text-align:left; /* Center align text */
    margin-top: 20px;
    
}

/* Title styles */
header h1 {
    font-family: Arial, sans-serif; /* Specify font */
    color: #fff; /* Text color */
    font-size: 50px; /* Font size */
    letter-spacing: 9px;
    padding-top: 45px;
    padding-left: 100px; 
    
}

/* Logo container styles */
.logo-container {
    position: absolute; /* Set position to absolute */
    top: 80px; /* Adjust the distance from the top */
    right: 190px; /* Adjust the distance from the left */
    width: 80px; /* Width of the container */
    height: 80px; /* Height of the container */
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    background-color: #00e1ff8b;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

.logo-container:hover {
    background-color: #00e1ffe6;
}

/* Logo image styles */
.logo-container img {
    width: 40%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}

.second-logo-container {
    position: absolute; /* Set position to absolute */
    top: 81px; /* Adjust the distance from the top */
    right: 300px; /* Adjust the distance from the left */
    width: 120px; /* Width of the container */
    height: 80px; /* Height of the container */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    background-color: #006aff6a;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    font-family: Arial, sans-serif; /* Specify font */
    color: #ffffff; /* Text color */
    font-size: 20px; /* Font size */
    text-align: center; /* Text alignment */
    letter-spacing: 2px;   
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.second-logo-container:hover {
    background-color: #006affd0;
}

.third-logo-container {
    position: absolute; /* Set position to absolute */
    top: 81px; /* Adjust the distance from the top */
    right: 440px; /* Adjust the distance from the left */
    width: 140px; /* Width of the container */
    height: 80px; /* Height of the container */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    background-color: #006aff6a;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    font-family: Arial, sans-serif; /* Specify font */
    color: #ffffff; /* Text color */
    font-size: 20px; /* Font size */
    text-align: center; /* Text alignment */
    letter-spacing: 2px;   
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.third-logo-container:hover {
    background-color: #006affd0;
}

.fourth-logo-container {
    position: absolute; /* Set position to absolute */
    top: 81px; /* Adjust the distance from the top */
    right: 600px; /* Adjust the distance from the left */
    width: 120px; /* Width of the container */
    height: 80px; /* Height of the container */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    background-color: #006aff6a;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    font-family: Arial, sans-serif; /* Specify font */
    color: #ffffff; /* Text color */
    font-size: 20px; /* Font size */
    text-align: center; /* Text alignment */
    letter-spacing: 2px;   
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.fourth-logo-container:hover {
    background-color: #006affd0;
}


.additional-container {
    position: absolute;
    top: 65%; /* Place the top edge at the vertical center of the page */
    left: 50%; /* Place the left edge at the horizontal center of the page */
    transform: translate(-50%, -50%);
    width: 800px; /* Adjust width as needed */
    height: 510px; /* Adjust height as needed */
    background-color: #7bdde000; /* Change background color as needed */
    border-radius: 15px; /* Adjust border radius as needed */
    padding: 10px; /* Example padding */
}

.inner-container {
    width: 360px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    position: absolute;
    top: 40px; /* Adjust placement as needed */
    left: 40px; /* Adjust placement as needed */
    overflow: hidden; /* Ensure the image doesn't overflow */
    border-radius: 10px 10px 10px 10px
}

.inner-container img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}

.profile-info-container {
    position: absolute;
    width: 320px; /* Adjust width as needed */
    height: 95px; /* Adjust height as needed */
    bottom: 40px; /* Adjust placement as needed */
    left: 40px; /* Adjust placement as needed */
    background-color: #2aedf4; /* Background color */
    border-radius: 10px; /* Border radius */
    padding: 20px; /* Padding */

    /* Add more styles as needed */
}

.profile-text-container {
    position: absolute;
    top: 40px; /* Adjust placement as needed */
    right: 60px; /* Adjust placement as needed */
    width: 280px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #21f8ff00; /* Background color */
    border-radius: 20px; /* Adjust border radius as needed */
    padding: 10px; /* Padding for text container */
    font-family: Arial, sans-serif; /* Specify font */
    color: #83e6e6; /* Text color */
    letter-spacing: 1px; /* Adjust letter spacing */
    line-height: 1.5; /* Adjust line spacing */
    font-size: 22px; /* Adjust font size */
    text-align:left; /* Text alignment */
}


.profile-text-container p {
    margin: 0; /* Remove default margin */
}


.profile-info-container p {
    font-family: Arial, sans-serif; /* Specify font */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
    letter-spacing: 1px; /* Letter spacing */
    line-height: 1.5; /* Line spacing */
    text-align: left; /* Text alignment */
    margin: -9px; /* Adjust margin to control distance from edges */
}

.profile-info-container strong {
    font-weight: bold; /* Make the specific words bold */
}

.marquee-container {
    font-family: Arial, sans-serif; /* Specify the font */
    font-size: 25px; /* Set the font size */
    word-spacing: 5px; /* Adjust word spacing */
    letter-spacing: 2px; /* Adjust letter spacing */
    color: #ffffff; /* Set text color */
}

.arrow-image {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    left: 50%; /* Center horizontally */
    top: 950px; /* Adjust distance from the bottom */
    transform: translateX(-50%); /* Center horizontally */
}

.custom-text-container {
    width: 300px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    position: absolute;
    top: 140%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    text-align: center; /* Center text */
    font-family: Arial, sans-serif; /* Specify font */
    font-size: 20px; /* Set font size */
    word-spacing: 2px; /* Adjust word spacing */
    letter-spacing: 1px; /* Adjust letter spacing */
    color: #991919; /* Set text color */
}


.sphere-container-one {
    width: 700px; /* Adjust width as needed */
    height: 700px; /* Adjust height as needed */
    position: absolute;
    top: 185%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); 
}/* Center horizontally and vertically */

.sphere-container-one img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}

.info-one {
    position: relative;
    top: 40%; /* Center vertically */
    left: 70%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    width: 230px; /* Adjust width as needed */
    height: 230px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow */
    transition: width 0.5s, height 0.5s; /* Add smooth transition for width and height changes */

}

.info-one img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline styles */
    border-radius: 5px;
}

.info-one:hover {
    width: 250px; /* Double the width on hover */
    height: 250px; /* Double the height on hover */
}

.circle-container-1 {
    position: absolute;
    top: 185%; /* Center vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust circle size */
    height: 400px; /* Adjust circle size */
    background-color: rgb(0, 0, 0); /* Semi-transparent background */
    border-radius: 50%;
    display: none; /* Initially hide the circle */


}

.circle-container-1 p {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center; /* Center align text */
    color: white; /* Text color */
    font-family: Arial, sans-serif; /* Specify font */
    font-size: 18px; /* Set font size */
    line-height: 1.75; /* Adjust line spacing */
}

.info-one:hover + .circle-container-1 {
    display: block; /* Show the circle when .info-one is hovered over */
}

.info-two {
    position: relative;
    top: 25%; /* Center vertically */
    left: 25%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    width: 250px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow */
    transition: width 0.5s, height 0.5s; /* Add smooth transition for width and height changes */

}

.info-two img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline styles */
    border-radius: 5px;
}

.info-two:hover {
    width: 270px; /* Double the width on hover */
    height: 270px; /* Double the height on hover */
}

.circle-container-2 {
    position: absolute;
    top: 185%; /* Center vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust circle size */
    height: 400px; /* Adjust circle size */
    background-color: rgb(0, 0, 0); /* Semi-transparent background */
    border-radius: 50%;
    display: none; /* Initially hide the circle */


}

.circle-container-2 p {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center; /* Center align text */
    color: white; /* Text color */
    font-family: Arial, sans-serif; /* Specify font */
    font-size: 18px; /* Set font size */
    line-height: 1.75; /* Adjust line spacing */
}

.info-two:hover + .circle-container-2 {
    display: block; /* Show the circle when .info-one is hovered over */
}

.info-three {
    position: relative;
    top: 40%; /* Center vertically */
    left: 30%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    width: 250px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow */
    transition: width 0.5s, height 0.5s; /* Add smooth transition for width and height changes */

}

.info-three img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline styles */
    border-radius: 5px;
}

.info-three:hover {
    width: 270px; /* Double the width on hover */
    height: 270px; /* Double the height on hover */
}

.circle-container-3 {
    position: absolute;
    top: 185%; /* Center vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust circle size */
    height: 400px; /* Adjust circle size */
    background-color: rgb(0, 0, 0); /* Semi-transparent background */
    border-radius: 50%;
    display: none; /* Initially hide the circle */


}

.circle-container-3 p {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center; /* Center align text */
    color: white; /* Text color */
    font-family: Arial, sans-serif; /* Specify font */
    font-size: 18px; /* Set font size */
    line-height: 1.75; /* Adjust line spacing */
}

.info-three:hover + .circle-container-3 {
    display: block; /* Show the circle when .info-one is hovered over */
}

.info-four {
    position: relative;
    top: 0%; /* Center vertically */
    left: 75%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    width: 250px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow */
    transition: width 0.5s, height 0.5s; /* Add smooth transition for width and height changes */

}

.info-four img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default inline styles */
    border-radius: 5px;
}

.info-four:hover {
    width: 270px; /* Double the width on hover */
    height: 270px; /* Double the height on hover */
}

.circle-container-4 {
    position: absolute;
    top: 185%; /* Center vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust circle size */
    height: 400px; /* Adjust circle size */
    background-color: rgb(0, 0, 0); /* Semi-transparent background */
    border-radius: 50%;
    display: none; /* Initially hide the circle */


}

.circle-container-4 p {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center; /* Center align text */
    color: white; /* Text color */
    font-family: Arial, sans-serif; /* Specify font */
    font-size: 18px; /* Set font size */
    line-height: 1.75; /* Adjust line spacing */
}

.info-four:hover + .circle-container-4 {
    display: block; /* Show the circle when .info-one is hovered over */
}

.bottom-image-container {
    position: fixed; /* Position the container relative to the viewport */
    bottom: 0; /* Align the container to the bottom */
    right: 0; /* Align the container to the right */
    margin: 20px; /* Adjust the margin as needed */
    z-index: 999; /* Ensure the container appears above other content */
}

.bottom-image-container img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.left-top-image-container {
    position: fixed; /* Position the container relative to the viewport */
    top: 0; /* Align the container to the top */
    left: 0; /* Align the container to the left */
    z-index: 999; /* Ensure the container appears above other content */
}

.left-top-image-container img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

